.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
tests
test*.js
.git/**
node_modules/**
src/**
.eslintrc.json
tsconfig.json
**/*.ts
!dist/**
