# Github Action to publish the package to VSCode Marketplace.
name: Publish

on:
  push:
    branches:
      - master

jobs:

  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '20.x'

    - name: Install dependencies
      run: |
        npm install
        npm install -g vsce

    # - name: Build
    #   run: npm run build

    - name: Publish
      env:
        VSCE_TOKEN: ${{ secrets.VSCE_TOKEN }}
      run: |
        npx vsce publish -p $VSCE_TOKEN
